.about {
    background-color: rgb(25, 25, 25);
    height: auto;
    width: 90vw;
    border-radius: 30px;
  }

.about-heading {
    margin: 5vh auto ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    letter-spacing: 0.15cm;
}

.about>img {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    box-shadow: white 0px 0px 20px 1px;
}

.about-description {
    margin: 5vh 10vh;
    font-size: 20px;
    word-break: break-all;
}

.about-description > p{
    margin-top: 10px;
}

.linkedin-btn{
  color: #00bfff;
  cursor: pointer;
}


/* Media Query for Mobile */
@media only screen and (max-width: 768px) {
    .about{
      margin-top: 50px;
    }
    .about-heading{
      font-size: 40px;
    }
    .about-image{
        margin-bottom: 10px;
    }
    .about-description {
      text-align: center; /* Optional: Center align the content */
      padding: 10px; /* Reset padding for mobile */
      margin: 0;
    }
  
    .about-para {
      width: 100%; /* Set the width to 100% for mobile screens */
      display: block; /* Ensure paragraphs behave as block-level elements */
      margin-right: 10px; /* Add some vertical margin between paragraphs */
    }
  }
  
